<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wise </h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore obcaecati reprehenderit ipsum
    accusamus odio sed officiis in et harum. Tempore enim quia, earum quas odio modi non optio incidunt mollitia!</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore obcaecati reprehenderit ipsum
    accusamus
    odio sed officiis in et harum. Tempore enim quia, earum quas odio modi non optio incidunt mollitia!</p>
</div>
